{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="media">
        <img class="img-fluid rounded-circle" width="120" height="auto" src="https://res.cloudinary.com/dso5orboe/image/upload/v1680030966/bike_2_bdmrvo.jpg">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
        <!-- FORM HERE -->
    </div>
{% endblock %}



